body{
  font-family: 'Staatliches', sans-serif;
  box-sizing: border-box;
}
.container-fluid{
  padding: 0;
}
.__nave{
  background-color: #2d2d2d;
  max-width: 100vw;
  justify-content: space-between;
  height: 80px;
}

.dropdown-item {
  background-color: #2d2d2d;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  justify-content: center;
  height: 60px;
}

.dropdown-item:hover {
  background-color: #000;
}

.dropdown-menu {
  max-width: 100vw;
  padding: 0px;
  font-size: 1em;
}

.__navbar{
  justify-content: flex-end;
}

.o_navitem{
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-right: 10px;
}

#img_header{
  color: rgb(0, 0, 0);
  font-size: 1em;
  padding-bottom: 0px;
}

#myNavbar7 a{
  color: #ffffff !important;
}
.__imglogo{
  margin-top: -1px;
  width: 130px;
}

.nav-item {
  font-size: 1.1em;
  padding-right: 30px;
  font-size: 1em;
  letter-spacing: 1px;
}

#navbarDropdown {
  font-size: 1.1em;
  padding-right: 30px;
  font-size: 1em;
  letter-spacing: 1px;
}

.__busqueda{
  justify-content: flex-end;
  /* background-color: rgb(0, 109, 223); */
  max-width: 100vw;
  margin-top: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.__buscar{
  justify-content: center;
}
.__peliculasdeldia{
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}

#categories{
  justify-content: space-between;
  margin: 0 auto;
}

.allCategories{
  font-size: 4em;
  padding: 30px 0px 0px 50px;
  max-width: 100vw;
}

.__oneCategoria{
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
  padding-top: 20px;
}
.__imgpelicula{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.__comprar{
  justify-content: center;
  background-color: rgb(247, 42, 27);
  width: 70%;
  border: none;
  margin: 0 auto;
}
.__comprar:hover{
  background-color: rgba(247, 42, 27, 0.75);
}

.card-title{
  font-family: 'Staatliches', sans-serif;
  font-size: 2em;
}

.card-text{
  font-family: 'Roboto', sans-serif;
}

.__textopelicula{
  text-align: center;
}
.__todos{
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(247, 42, 27);
  border: none;
  width: 300px;
  margin: 30px auto;
}
.__todos:hover{
  background-color: #000;
}
.piedepag{
  width: 100vw;
  max-height: 1000px;
  margin: 0 auto;
  background-color: #000;
  /* border-radius: 0px 0px 20px 20px; */
  justify-content: space-around;
  /* position: fixed;
  left: 0;
  bottom: 0; */
}
.__artpie{
  margin: 15px auto;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.__artpie h4 {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.__artpie p{
  color: #ffffff;
  line-height: 7px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.__artpie a{
  text-decoration: none;
  color: #ffffff;
  line-height: 10px;
  margin-bottom: 20px;
}

.btn-primary {
  font-family: 'Staatliches', sans-serif;
  background-color: #000;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 15px;
  border-radius: none;
  text-transform: uppercase;
  text-decoration: inherit;
  margin: 10px 0px 10px 0px;
  min-width: 150px;
  border: none;
}

.btn_register {
  font-family: 'Staatliches', sans-serif;
  background-color: black;
  letter-spacing: 1px;
  font-size: 17px;
  color: #fff;
  padding: 10px 15px;
  font-size: 0.9em;
}

.btn-link {
  font-size: 19px;
  margin-left: 15px;
}

.form-group label {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.form-group input {
  font-family: 'Roboto', sans-serif;
}

.offset-2 {
  margin-left: 30px;
}

#spacer {
  padding-bottom: 50px;
}

#products {
  margin-right: 70px;
}

.img-rounded{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin-top: 80px;
  margin-left: 60px;
}
