
/*Otorgo un fondo al formulario*/
.container-fluid{
  background-image: url(../img/fondoform.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: fixed;
}

.formulario, .formularioLogin{
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #f2f3f7;
  border-radius: 2%;

}
.containerLogin{
  background-image: url(../img/fondoform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}



.formularioOlvide{
  width: 50%;
  margin-top: 1px;
  margin-left: 300px;
  border-radius: 5%;
  padding: 30px 0;
  background-color: #f2f3f7
}

.containerOlvide{
  background-image: url(../img/fondoform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}
