body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

#footer {
  background-color: black;
  color: white;
  bottom: 0;
  padding: 40px 0;
}

#logo {
  width: 150px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue';
  color: black;
}

@media screen and (min-width: 992px) {
  .dropdown-menu.show {
    left: -90px;
  }
}