body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

#footer {
  background-color: black;
  color: white;
  bottom: 0;
  padding: 40px 0;
}

#logo {
  width: 150px;
}