body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Bebas Neue';
  color: black;
}

a, a:hover {
  font-family: 'Bebas Neue';
  color: black;
}

#main {
  flex: 1;
}

#footer {
  background-color: black;
  color: white;
  bottom: 0;
  padding: 40px 0;
}

#logo {
  width: 150px;
}

.products-in-cart img,
.products-in-order img {
  width: 100px;
}

.order-row {
  cursor: pointer;
}

.product-category-name a {
  text-transform: uppercase;
  font-size: 1rem;
  color: #686868;
}

@media screen and (min-width: 992px) {
  .dropdown-menu.show {
    left: -90px;
  }
}