
@media screen and
(max-width: 767px)
 {
.navbar-nav {
  position:absolute;
  z-index:1;
  right: 0;
  background-color: white;
  flex-direction:column;
 }
 .table-item {
 padding: 0px;
 font-size: 20px;
 }
 .card-abm {
 	width: 90%;
   margin-left: 20px;
   margin-right: 10px;
 }
 .card-abm-prod{
   padding-left: 30px;
 }
.form-control {
width: 100%;
}
 .table td, .table th {
   padding: 0px;
    display: block;
    border-top:0px;
 }
 .file{
   width: 100%;
   margin-right: 10px;
 }
 .file-cat{
   width: 83%;
   margin-left: 30px;
 }
 .img-fluid{
   margin-left: auto;
   margin-right: auto;
 }
 .imgProd{
   width: 300%;
 }
 .cat-id{
   max-width: 90%;
 }
 .table-add{
   margin-bottom: 0;
 }
 .card-product{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }
 .form-total{
   text-align: center;
   margin-top: 30px;
   margin-bottom: 0;
 }
.pagoCard{
  padding-left: 0;
}
.card{
  border: none;
}
.col-12{
  flex: auto;
}
.totalPay{
  justify-content: center;
  text-align: center;
}
.cardIcons{
  display: flex;
  padding-left: 0;
}
.cardImg{
  margin-right: 10px;
}
.card-body{
  margin-right: 20px;
}
.productCart{
  border-bottom: 1px solid grey;
}




 #table-order{
display: block;
 }

 #main-title{
   margin: 2px;
 }
 #main-add {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#main-cancel {
margin-right: auto;
display: inline-block;
justify-content: left;
text-align: left;
}
#container-center{
  width: 80%;
}
#payment{
  width: 110%;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
#pay-title{
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#emptyCart{
  padding-left: 2px;
}
#form-container{
  padding: 0;
}
#footer {
  padding: 0;
}


 thead {
   display: none;
 }

 tbody td {
   display: block;
   text-align:center;
 }
 tbody td{
   content: attr(data-th);
   display: block;
   text-align:center;
 }
 a.footer-item{
   padding-right: 20px;
 }

}
@media screen and
(min-width: 768px) and
(max-width: 1023px)
 {
 .navbar-nav {
   position:absolute;
   z-index:1;
   right: 0;
   background-color: white;
   flex-direction:column;
 }
.navbar, .navbar>.container, .navbar>.container-fluid{
  margin-right: 30px;
}
.card-abm {
 width: 90%;
  margin-left: 20px;
  margin-right: 10px;
}
.imgProd{
  width: 300%;
}
.add-cat{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.card-cat-adm{
  padding-left: 30px;
}
.img-fluid{
  margin-left: auto;
  margin-right: auto;
}
.products-in-cart{
  display: inline-grid;
}
.form-total{
  margin-top: 10px;
}
.table-titel .price{
  margin-left: 60px;
}
td img{
  width: 100px;
}
}
