/*-------------- ENCABEZADOS Y TITULOS --------------*/

#main-title {
	color: black;
	font-family: 'Staatliches', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	margin: 30px 0px 40px 0px;
	text-decoration: none;
}

.main-title-abm {
	padding-left: 40px;
}

#main-title.white {
	color: #fff;
}

h1#main-title .white-about {
	margin: 30px 0px 40px 0px;
}


.carousel-title {
	color: #fff;
	font-family: 'Staatliches', sans-serif;
	text-transform: uppercase;
	font-size: 6em;
	margin: 30px 0px 10px 0px;
	text-decoration: none;
	letter-spacing: 2px;
/*	text-shadow: 2px 2px 10px black;*/ 
}

.carousel-desc {
	font-size: 2em;
	letter-spacing: 2px;
}


#description-title {
	font-size: 0.9em;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: inherit;
	margin-bottom: 20px;
}


.main-content {
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	background-color: white;
	width: 90%;
	box-shadow: 2px 2px 19px -5px rgba(135,135,135,1);
	display: block;
	border-radius: 5px;
}


#form-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-control {
	padding: 15px 0px;
}


.linked {
	font-family: 'Staatliches', sans-serif;
	font-size: 0.6em;
	margin-left: 25px;
	color: blue;
	text-align: right;
	text-decoration: none;
}


/*-------------- NAVBAR --------------*/

.navbar {
  height: 80px;
}


.navbar-brand {
  margin-bottom: 0px;
}


li.nav-item {
  font-family: 'Staatliches', sans-serif;
  font-size: 1.4em;
  padding-right: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.dropdown-item {
	font-size: 1.3em;
  width: 100%;
	height: 60px;
  padding: 30px 0px 30px 0px;
	margin: 0 auto;
}


p.about-description {
	font-size: 1.6em;
	text-transform: none;
	color: #566573;
	font-family: 'Staatliches', sans-serif;
	padding: 15px;
	letter-spacing: 0.05em;
	margin-top: 15px;
}


a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

a#navbarDropdown{
	margin-left: 20px;
	margin-right: 20px;
	color: black;
	font-size: 1.2em;

}

div.imagenavatar img {
	border-radius: 100%;
	width:55px;

}


/*-------------- BUTTONS --------------*/

#main-button {
  font-family: 'Staatliches', sans-serif;
  background-color: #000;
  font-size: 0.6em;
  color: #fff;
  padding: 10px 25px;
  border-radius: none;
  text-transform: uppercase;
  text-decoration: inherit;
  margin: 10px 0px 10px 10px;
  border: none;
}

#main-add {
  font-family: 'Staatliches', sans-serif;
  background-color: #000;
  font-size: 1em;
  color: #fff;
  padding: 10px 25px;
  border-radius: none;
  text-transform: uppercase;
  text-decoration: inherit;
  margin: 10px 0px 10px 30px;
  border: none;
  display: inline;
}


#cat-button {
	font-family: 'Staatliches', sans-serif;
	background-color: #000;
	font-size: 0.6em;
	color: #fff;
	padding: 7px 10px;
	border-radius: none;
	text-transform: uppercase;
	text-decoration: inherit;
	margin: 10px 0px 10px 10px;
	border: none;	
	vertical-align: middle;
}


#ghost-button {
  font-family: 'Staatliches', sans-serif;
  background-color: #fff;
  font-size: 0.6em;
  color: #000;
  padding: 7px 10px;
  border-radius: none;
  text-transform: uppercase;
  text-decoration: inherit;
  margin: 10px 0px 10px 0px;
  border: none;
}




#cat-button:hover #main-button:hover {
  background-color: #d4dc00;
  text-decoration: inherit;
  color: inherit;
}


#main-button::selection {
  background-color: grey;
  border: solid 1px white;
}


#main-button.black {
	background-color: #000;
	color: #fff;
}

#main-button.grey {
	font-size: 0.8em;
	background-color: #cecece;
	color: #000;
}

#main-button.red {
	font-size: 0.8em;
	background-color: #e3342f;
	color: #fff;
}

div.button-send {
	align-content: center;
	align-self: center;
	align-items: center;
}

#main-card {
	margin: 30px 0px 30px 0px;
	border: none;
}

.card-abm {
	margin-left: 40px;
	margin-bottom: 50px;
	background-color: white;
	border-radius: 10px;
}

#card-abm {
	margin-top: 30px;
}


.card-title {
	font-family: 'Staatliches', sans-serif;
	font-size: 1em;
	color: #000;
	padding: 10px 0px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px 0px 15px 10px;
	line-height : 1.1em;
	display: inline-block;
}

.prod-title {
	font-family: 'Staatliches', sans-serif;
	font-size: 1em;
	color: #000;
	background-color: none;
	padding: 10px 0px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 20px 0px 30px 10px;
	line-height : 1.1em;
}

.card-body {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.button-cat {
	margin-left: 40px;
	display: inline-block;
	align-items: right;
}

.card-title#people {
	padding: 0px;
	margin: 10px 0px;
	height: 50px;
}

p.price {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 0.6em;
	color: #566573;
	text-align: left;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px 0px 10px 0px;
}

p#price-prod {
	font-family: 'Staatliches', sans-serif;
	font-size: 2em;
	color: #566573;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 10px;
	margin: 0px 0px 10px 0px;
}


.card-body h5 {
  top: 10%;
  left: 10%;
	padding: 0px;
	height: 50px;
}

.card-body {
	font-size: 0.8em;
	padding: 10px;
}

.card-text {
	font-size: 0.5em;
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px 10px 0px;
	text-transform: none;
	text-align: left;
	color: rgba(0, 0, 0, 0.5);
	padding: 10px 0px 0px 0px;
	display: inline-block;
}

a.product-category-name {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #fff;
	font-size: 0.5em;
	line-height: 0.5em;
}

a.product-category-name:hover a.product-category-name:focus a.product-category-name:active {
	text-decoration: none;
}


#error-message {
	font-family: 'Roboto', sans-serif;
	color: red;
	font-weight: bold;
	font-size: 0.5em;
}


.form-title {
	font-family: 'Staatliches', sans-serif;
	font-size: 2.8em;
	color: #DEDEDE;
	letter-spacing: 0.05em;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px 0px 10px 10px;
	line-height : 1.1em;
}

.form-title#white {
	color: #fff;
	text-align: right;
}


.col-md-6 select{
	width: 100%;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.5em;
}

.col-md-6 #file {
	width: 100%;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.5em;
}



.badge-use-case {
  background: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: white;
  padding: 6px 10px;
  font-size: 9px;
  letter-spacing: 0.5px;
}


#allCategories {
  margin-bottom: 80px;
}


a.footer-item {
	color: #fff;
	font-family: 'Staatliches', sans-serif;
	font-size: 2em;
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: none;
}

a.footer-item:hover {
	color: #d4dc00;
	text-decoration: none;
}

img.icons {
	width: 25px;
	opacity: 60%;
	padding: 0px;
	margin-right: 0px;
	align-content: justify;
}


/*--------------- FORMS ---------------*/
.form-group label {
	font-family: 'Staatliches', sans-serif;
	font-size: 0.7em;
}

.table-title {
	font-family: 'Staatliches', sans-serif;
	font-size: 1.3em;
	color: #000;
}

.table-item {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #000;
}

.table-add {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #000;
	display: inline-block;
}

.row-grey {
	background-color: #d6d6d6;
}

.add-cat {
	margin-top: 20px;
}

.img-add {
	display: inline-block;
	margin-right: 20px;
}

.form-label label {
	font-family: 'Staatliches', sans-serif;
	font-size: 1em;
}

#add-cat-button {
	display: inline;
}

#main-cancel {
	font-family: 'Staatliches', sans-serif;
	background-color: #d6d6d6;
	font-size: 1em;
	color: #000;
	padding: 10px 25px;
	border-radius: none;
	text-transform: uppercase;
	text-decoration: inherit;
	margin: 10px 0px 10px 30px;
	border: none;
	display: inline-block;
}

.acept-cancel {
	margin-top: 30px;
	margin-bottom: 50px;
}


.form-label-prod {
	font-family: 'Staatliches', sans-serif;
	font-size: 1em;
	padding-top: 5px;
}

.form-check label {
	font-family: 'Roboto', sans-serif;
	font-size: 0.4em;
	font-weight: bold;
	text-transform: capitalize;
	margin-left: 0px;
	padding-left: 0px;
}

.col-md-6 input {
	font-family: 'Roboto', sans-serif;
	font-size: 0.5em;
	padding: 5px;
}


#textHelp {
	font-family: 'Roboto', sans-serif;
	font-size: 0.4em;
	text-transform: capitalize;
}


#login-combo {
	margin-top: 25px;
}


label #cantidad {
	margin-top: 100px;
}


/*--------------- TABLES ---------------*/
table th {
	font-size: 1.4em;
	color: #fff;
}

table th .items{
	font-family: 'Staatliches', sans-serif;
	font-size: 1.4em;
	color: #000;
}

table td {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #fff;
}

div .panel {
	border-top: solid 1px grey;
	margin-top: 10px;
}

ul li.faq {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

#respuestasfaq {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
